.normalButton {
  background-color: #57606f;
  border: 1px solid #3e4450;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  height: 30px;
  width: 100px;
  margin-right: 10px;
}
.normalButton:hover {
  background-color: #3e4450;
}
.disabledButton {
  background-color: transparent;
  color: #3e4450;
}
.disabledButton:hover {
  background-color: transparent;
}
