.PatientComponentCard {
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}
.PatientComponentCardFirstrow {
  display: flex;
  align-items: center;
}
.PatientComponentCardFirstrow div {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
.PatientDetailComponent {
  padding: 10px;
}
.PatientDetailComponentRow {
  padding: 5px;
  display: flex;
}
.PatientDetailComponentRow span {
  font-weight: bold;
  width: 100px;
  display: inline-block;
}
.PatientDetailComponentRow input {
  padding: 4px;
  width: 100%;
  max-width: 400px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  font-size: 12px;
  color: rgb(92, 89, 89);
}
.PatientDetailComponentRow textarea {
  padding: 4px;
  width: 100%;
  max-width: 400px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  font-size: 12px;
  color: rgb(92, 89, 89);
}
.PatientComponentFloatButton {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  font-size: 32px;
  background-color: #57606f;
  color: #fff;
  position: fixed;
  right: 10px;
  bottom: 10px;
}
