.HeaderComponent {
  color: #fff;
  background-color: #57606f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.HeaderComponent span {
  font-size: 22px;
  margin-left: 10px;
  text-transform: uppercase;
}
.HeaderComponent button {
  margin-right: 10px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.HeaderComponent img {
  height: 40px;
}
