.NavbarComponent-Content {
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
}
.NavbarComponent-Content button {
  height: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
  font-weight: bold;
}
.NavbarComponent-Content button:hover {
  border: 1px solid grey;
  border-radius: 4px;
}
.NavbarComponent-WeekDetail {
  height: 30px;
  width: 200px;
  text-align: center;
  line-height: 30px;
  font-size: 10px;
  font-weight: bold;
}
