.ScheduleComponent {
  width: 100%;
}
.WeekComponent {
  width: 100%;
  display: flex;
}
.WeekdayComponent {
  width: 100%;
}
.AppointmentComponent {
  width: 100%;
  height: 50px;
  border: 1px solid lightgrey;
}
.AppointmentComponent-Content {
  font-size: 10px;
  height: 50px;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}
.timeBar {
  font-size: 8px;
  padding: 2px;
  text-align: center;
}
