.ScheduleComponent {
  width: 100%;
}
.WeekComponent {
  width: 100%;
  display: flex;
}
.WeekdayComponent {
  width: 100%;
}

.AppointmentTimeComponent {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}
.AppointmentTimeComponent-Content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 10px;
  height: 50px;

  text-align: center;
  width: 100%;
}
.timeBar {
  font-size: 8px;
  padding: 2px;
  text-align: center;
}

.WeekdayTitleComponent {
  color: #57606f;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 10px;
  width: 100%;
  background-color: #dcdde1;
}
.category0 {
  color: lightgrey;
}
.category1 {
  background-color: #ecf0f1;
  border: 1px solid #7f8c8d;
  border-radius: 2px;
}
.category2 {
  background-color: #dafde8;
  border: 1px solid #219250;
  border-radius: 2px;
}
.category3 {
  background-color: #fdf1d4;
  border: 1px solid #cc8e35;
  border-radius: 2px;
}
.DropEnter {
  background-color: #dfe6e9;
}
