.AppointmentComponent {
  font-size: 12px;
  width: 98%;
  max-width: 500px;
  border: 1px solid #57606f;
  border-radius: 2px;
  margin: auto;
  margin-top: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
}
.AppointmentComponent-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.AppointmentComponent-row input,
select {
  font-size: 12px;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  width: 100%;
  color: grey;
}
.AppointmentComponent-row span {
  font-weight: bold;
  line-height: 30px;
  text-align: right;
  width: 33%;
  margin-right: 20px;
}
.AppointmentHeaderComponent {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  background-color: #57606f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.AppointmentHeaderComponent button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  line-height: 20px;
  font-weight: bold;
}
.AppointmentBodyComponent {
  padding: 10px;
}
.AppointmentAddComponent {
  padding: 10px;
}
.AppointmentComponent-row select {
  color: black;
}
.AppointmentComponent-row button {
  background-color: #57606f;
  border: none;
  border-radius: 4px;
  padding: 6px;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
}
.AppointmentComponent-row .disabled {
  border: 1px solid #57606f;
  color: #57606f;
  background-color: transparent;
}
.AppointmentPatientComponents {
  padding: 10px;
}
